*.py[cod]
*$py.class
*pdf
tests/work
tests/results

.__*
.idea
__pycache__/
dist/
build/
flowsaber.egg-info
/docs/build
/docs/source/work
/docs/source/results
.pytest_cache*
results/
work/
dask-worker-space/
/*png
/*svg
