*.py[cod]
*$py.class
*pdf
*svg
*.DS_Store
tests/work
tests/results
tests/workdir
tests/test_flow/dask-worker-space

.__*
.idea
__pycache__/
dist/
build/
flowsaber.egg-info
/docs/build
/docs/source/work
/docs/source/results
.pytest_cache*
results/
work/
dask-worker-space/
/*png
/*svg
